# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Windows
Thumbs.db
.DS_Store

# Temp
*.tmp
*.bak
*.log

# Project inspection
project_tree.txt
project_files.txt

# TensorBoard
**/events.out.tfevents.*

# Models
*.ckpt